<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="veterinariaPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <class>model.Desparasitacion</class>
    <class>model.Mascota</class>
    <class>model.Nota</class>
    <class>model.Propietario</class>
    <class>model.Vacuna</class>
    <class>model.VacunaAnual</class>
    <class>model.VacunaRefuerzo</class>
    <class>model.Visita</class>
    <properties>
      <!--      <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
      <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/prolog?zeroDateTimeBehavior=convertToNull"/>
      <property name="hibernate.connection.password" value="root"/>
      <property name="hibernate.connection.username" value="root"/>
      <property name="hibernate.cache.provider_class" value="org.hibernate.cache.NoCacheProvider"/>
      <property name="hibernate.hbm2ddl.auto" value="update"/>-->
      <property name="javax.persistence.jdbc.url" value=""/>
      <property name="javax.persistence.jdbc.user" value=""/>
      <property name="javax.persistence.jdbc.driver" value=""/>
      <property name="javax.persistence.jdbc.password" value=""/>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
